# REQUISITOS

Avaliação – Python + SQLite
Tema: CRUD em 'alunos'

O que o script deve fazer:
1) Criar 'escola.db'
2) Criar tabela 'alunos' -> Seguindo o diagrama
3) Inserir registros na tabela alunos
4) Listar todos
5) Buscar por id
6) Atualizar registros
7) Deletar registros

# CRIAR 'ESCOLA.DB'

In [1]:
import sqlite3

In [2]:
banco = 'escola.db'

# CRIAR TABELA 'ALUNOS'

In [3]:
script_sql = """CREATE TABLE IF NOT EXISTS alunos(
                id_aluno INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
)"""


try:
    with sqlite3.connect(banco) as conn: # FAZ A CONEXÃO COM O BANCO DE DADOS
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql) # EXECUTA O SCRIPT SQL


        # SALVA AS ALTERAÇÕES NO BANCO DE DADOS
        conn.commit()

except sqlite3.connect(banco) as e:
    print('Erro: ', e)

# INSERIR REGISTROS NA TABELA ALUNOS E LISTANDO

In [6]:
# LISTAR

script_sql = "SELECT * FROM alunos"

try:
    with sqlite3.connect(banco) as conn: # CONECTA COM O BANCO DE DADOS
        conn.row_factory = sqlite3.Row # ALTERA O RETORNO DA CONSULTA 
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql) # EXECUTA O SCRIPT SQL
        res = cur.fetchall() # RETORNA OS REGISTROS DO BANCO  EM UMA LISTA DE TUPLAS

except sqlite3.OperationalError as e:
    print('Erro:', e)
for i in res:
    print(i['nome'],i['idade'],i['email'])

Bryan 17 BCB@gmail.com

In [5]:
# INSERIR

script_sql = """INSERT INTO alunos (nome,idade,email) 
                VALUES (?,?,?)"""


try:
    with sqlite3.connect(banco) as conn: # FAZ A CONEXÃO COM O BANCO DE DADOS
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql, ('Bryan',17,'BCB@gmail.com')) # EXECUTA O SCRIPT SQL


        # SALVA AS ALTERAÇÕES NO BANCO DE DADOS
        conn.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)

# BUSCAR POR ID

In [10]:
script_sql = "SELECT * FROM alunos WHERE id_aluno = ?"

id_aluno = 1
try:
    with sqlite3.connect(banco) as conn: # FAZ A CONEXÃO COM O BANCO DE DADOS
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql, (1,)) # EXECUTA O SCRIPT SQL

        res = cur.fetchone()

        print(res)


        # SALVA AS ALTERAÇÕES NO BANCO DE DADOS
        conn.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)

(1, 'Bryan', 17, 'BCB@gmail.com')

# ATUALIZAR REGISTROS

In [40]:
script_sql = """UPDATE alunos
                SET idade = ?
                WHERE id_aluno = ?"""


try:
    with sqlite3.connect(banco) as conn: # FAZ A CONEXÃO COM O BANCO DE DADOS
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql, (19,1)) # EXECUTA O SCRIPT SQL


        # SALVA AS ALTERAÇÕES NO BANCO DE DADOS
        conn.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)

# DELETAR REGISTROS

In [41]:
script_sql = """DELETE FROM alunos
                WHERE id_aluno = ?"""


try:
    with sqlite3.connect(banco) as conn: # FAZ A CONEXÃO COM O BANCO DE DADOS
        cur = conn.cursor() # CRIA O CURSOR

        cur.execute(script_sql, (4,)) # EXECUTA O SCRIPT SQL


        # SALVA AS ALTERAÇÕES NO BANCO DE DADOS
        conn.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)